/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,500;0,700;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

/* end of Fonts */


/* General styles*/
html {
	position: relative;
	min-height: 100%;
}

body {
	background-color: #F8F9F9;
	color: #333333;
	font-family: 'Roboto', sans-serif;
}

h1, h2, legend {
	font-family: 'Rubik', sans-serif;
}

.account-img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin-right: 2em;
}

/* end of General styles */


/* Navbar styles */
.bg-blue {
	background-color: #1F618D;
}

/* end of Navbar styles */


/* Main section styles */
main {
	margin-bottom: 2rem;
	padding: 2rem 0 4rem;
}

h1 {
	color: #34495E;
}

.tagline {
  	color: #EAECEE;
}

.homepage-cta {
    max-width: 300px;
    padding: 0 30px;
    margin: 30px auto;
}

.site-stat {
	font-size: 3rem;
	font-weight: 300;
}

.block {
	display: block;
}

.submit {
	float: right;
	margin-right: 0.2rem;
}

/* end of Main section styles */


/* Jumbotron styles */
.jumbotron {
	/* Image location*/
	background-image: url(../images/book-on-table-1920x1440.jpg);

	/* Background image is centered vertically and horizontally at all times */
  	background-position: center center;
  
  	/* Background image doesn't tile */
  	background-repeat: no-repeat;
  
  	/* Background image is fixed in the viewport so that it doesn't move when the content's height is greater than the image's height */
  	background-attachment: fixed;
  
  	/* This is what makes the background image rescale based on the container's size */
  	background-size: cover;
  
  	/* Set a background color that will be displayed while the background image is loading */
  	background-color: #FAFAFA;

    min-height: 500px;
    margin: 0;
}

@media only screen and (max-width: 767px) {
  .jumbotron {
    /* The file size of this background image issmallerto improve page load speed on mobile internet connections */
    background-image: url(../images/book-on-table-640x480.jpg);
  }
}

/* end of Jumbotron styles */


/* Footer styles */

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #1B4F72;
	color: #E5E7E9;
}

footer a {
	color: rgba(250, 250, 250, 0.6);
}

footer a:hover {
	color: rgba(250, 250, 250, 0.8);
}

/* end of Footer styles */