<div class="card book-card">
  <div class="row no-gutters">
    <div class="col-md-4">
      <a href="book.html">
        <img src="static/images/book-cover.png" class="card-img" alt="Book">
      </a>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h2 class="card-title"><a href="book.html">Book</a></h2>
        <p>Category: <a href="#">Spiritual Resource</a></p>
        <ul class="unstyled-list inline-flex m2m-attribute">
          <li><i class="fas fa-tags"></i></li>
          <li><a class="btn btn-light btn-sm" href="#">Salvation</a></li>
          <li><a class="btn btn-light btn-sm" href="#">God's love</a></li>
        </ul>
        <p class="ml-1">
          <i class="far fa-calendar-alt icon"></i>
          <time datetime="2020-08-20">August 20, 2020</time>
        </p>
        <ul class="unstyled-list inline-flex m2m-attribute">
          By
          <li><a href="#">Author1</a></li>,
          <li><a href="#">Author2</a></li>,
          <li><a href="#">Author3</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
