<div class="card">
  <div class="row no-gutters">
    <div class="col-md-4">
      <a href="book_detail.html">
        <img src="static/images/book-thumbnail.jpg" class="card-img" alt="Book">
      </a>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h2 class="card-title"><a href="book_detail.html">Book</a></h2>
        <p class="card-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.
        <p class="card-text">
          By <a href="#">Author</a>
        </p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>