<main class="container">
  <article class="card mt-5">
    <div class="row no-gutters">
      <section class="col-md-4">
        <img src="static/images/book-cover.png" class="card-img" alt="Book">
      </section>
      <section class="col-md-8">
        <div class="card-body">
          <h1 class="card-title">Book Title</h1>              
          <p>Category: <a href="#">Spiritual Resource</a></p>
          <ul class="unstyled-list inline-flex tags">
            <li><i class="fas fa-tags icon"></i></li>
            <li><a class="btn btn-light btn-sm tag" href="#">Salvation</a></li>
            <li><a class="btn btn-light btn-sm tag" href="#">God's love</a></li>
          </ul>
          <p>
            <i class="far fa-calendar-alt icon"></i>
            <time datetime="2020-08-20">August 20, 2020</time>
          </p>
          <p>By <a href="#">Author</a></p>
          <p class="card-text">
            <span class="block summary-title border-bottom">Book summary</span>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Aenean pharetra magna ac placerat vestibulum lectus. 
            Scelerisque varius morbi enim nunc faucibus a. 
            Nulla aliquet porttitor lacus luctus accumsan.
          </p>
          <div class="card-text">
            <a class="btn btn-success btn-lg btn-block" href="static/pdfs/book-sample.pdf">Download Book Title (1.2MB)</a>
          </div>
        </div>
      </section>
    </div>
  </article>
</main>