<article class="card book-card">
  <div class="row no-gutters">
    <section class="col-md-4">
      <a href="book_detail.html">
        <img src="static/images/book-thumbnail.jpg" class="card-img" alt="Book">
      </a>
    </section>
    <section class="col-md-8">
      <div class="card-body">
        <h2 class="card-title"><a href="book_detail.html">Book</a></h2>
        
        <p class="card-text">
          Category: <a href="#">Spiritual Resource</a>
        </p>

        <p class="card-text">
          <i class="fas fa-tags"></i>
          <a class="btn btn-light btn-sm" href="#">Salvation</a>
          <a class="btn btn-light btn-sm" href="#">God's love</a>
        </p>

        <p class="card-text">
          By <a href="#">Author</a>
        </p>

        <p class="card-text text-muted">
          Posted on:
          <time datetime="2020-08-20">August 20, 2020</time>
        </p>
      </div>
    </section>
  </div>
</article>