<main class="container">
  <div class="card mt-5">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="static/images/book-cover.png" class="card-img" alt="Book">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h1 class="card-title">Book Title</h1>              
          <p>Category: <a href="#">Spiritual Resource</a></p>
          <ul class="unstyled-list inline-flex m2m-attribute">
            <li><i class="fas fa-tags"></i></li>
            <li><a class="btn btn-light btn-sm" href="#">Salvation</a></li>
            <li><a class="btn btn-light btn-sm" href="#">God's love</a></li>
          </ul>
          <p class="ml-1">
            <i class="far fa-calendar-alt icon"></i>
            <time datetime="2020-08-20">August 20, 2020</time>
          </p>
          <ul class="unstyled-list inline-flex m2m-attribute">
            By
            <li><a href="#">Author1</a></li>,
            <li><a href="#">Author2</a></li>,
            <li><a href="#">Author3</a></li>
          </ul>
          <p class="card-text">
            <span class="block summary-title border-bottom">Book summary</span>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Aenean pharetra magna ac placerat vestibulum lectus. 
            Scelerisque varius morbi enim nunc faucibus a. 
            Nulla aliquet porttitor lacus luctus accumsan.
          </p>
          <div class="card-text">
            <a class="btn btn-success btn-lg btn-block" href="static/pdfs/book-sample.pdf">Download Book Title (1.2MB)</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>