<article class="card book-card">
  <div class="row no-gutters">
    <section class="col-md-4">
      <a href="book_detail.html">
        <img src="static/images/book-cover.png" class="card-img" alt="Book">
      </a>
    </section>
    <section class="col-md-8">
      <div class="card-body">
        <h2 class="card-title"><a href="book_detail.html">Book</a></h2>
        <p>Category: <a href="#">Spiritual Resource</a></p>
        <ul class="unstyled-list inline-flex tags">
          <li><i class="fas fa-tags icon"></i></li>
          <li><a class="btn btn-light btn-sm tag" href="#">Salvation</a></li>
          <li><a class="btn btn-light btn-sm tag" href="#">God's love</a></li>
        </ul>
        <p>
          <i class="far fa-calendar-alt icon"></i>
          <time datetime="2020-08-20">August 20, 2020</time>
        </p>
        <p>By <a href="#">Author</a></p>
      </div>
    </section>
  </div>
</article>
