<!-- Jumbotron -->
<div class="jumbotron jumbotron-fluid">
  <div class="container text-center">
    <h1 class="display-4">
      Find Spiritual & Economic <br>
       Empowerment Resources
    </h1>
    <p class="lead tagline">I will read, do and share God's word</p>
    
    <!-- Call to action -->
    <div class="homepage-cta">
      <a class="btn btn-success btn-lg float-left" href="#" role="button">Register</a>
      <a class="btn btn-success btn-lg float-right" href="#" role="button">Login</a>
    </div>
  </div>
</div>

<!-- Site stats -->
<div class="container text-center my-3">
  <div class="row">
    <div class="col-sm">
      <span class="site-stat">20</span>
      <i class="fas fa-book-open fa-3x"></i>
      <span class="site-stat-label">Books</span>
    </div>

    <div class="col-sm">
      <span class="site-stat">13</span>
      <i class="fas fa-video fa-3x"></i>
      <span class="site-stat-label">Videos</span>
    </div>

    <div class="col-sm">
      <span class="site-stat">25</span>
      <i class="fas fa-users fa-3x"></i>
      <span class="site-stat-label">Members</span>
    </div>
  </div>
</div>