<!-- Jumbotron -->
<div class="jumbotron jumbotron-fluid">
  <div class="container text-center">
  	<h1 class="display-4">
  		Find Spiritual & Economic <br>
  		 Empowerment Resources
  	</h1>
	  <p class="lead tagline">I will read, do and share God's word</p>
	  
	  <!-- Call to action -->
	  <div class="homepage-cta">
	  	<a class="btn btn-success btn-lg float-left" href="register.html" role="button">Register</a>
	  	<a class="btn btn-success btn-lg float-right" href="login.html" role="button">Login</a>
	  </div>
  </div>
</div>

<!-- Site stats -->
<div class="container text-center my-3 site-stat">
  <div class="row">
    <div class="col-sm">
    	<span class="block">20</span>
      <i class="fas fa-book-open"></i>
      <span class="block">Books</span>
    </div>

    <div class="col-sm">
    	<span class="block">13</span>
      <i class="fas fa-video"></i>
      <span class="block">Videos</span>
    </div>

    <div class="col-sm">
    	<span class="block">25</span>
      <i class="fas fa-users"></i>
      <span class="block">Members</span>
    </div>
  </div>
</div>