<article class="card video-card">
  <a href="video_detail.html">
    <img class="card-img-top" src="https://img.youtube.com/vi/Pog1qa6wGgU/mqdefault.jpg" alt="Video">
  </a>

  <section class="card-body">
    <h2 class="card-title">
      <a href="video_detail.html">Video</a>
    </h2>

    <p class="card-text">
      Category: <a href="#">Spiritual Resource</a>
    </p>

    <p class="card-text">
      <i class="fas fa-tags"></i>
      <a class="btn btn-light btn-sm" href="#">Salvation</a>
      <a class="btn btn-light btn-sm" href="#">God's love</a>
    </p>

    <p class="card-text">
      By <a href="#">Author</a>
    </p>

    <p class="card-text text-muted">
      Posted on:
      <time datetime="2020-08-20">August 20, 2020</time>
    </p>
  </section>
</article>