<article class="card video-card">
  <section>
    <a href="video.html">
      <img class="card-img-top" src="https://img.youtube.com/vi/rAKLiE658m0/mqdefault.jpg" alt="Video">
    </a>
  </section>
  <section class="card-body">
    <h2 class="card-title"><a href="video.html">Video</a></h2>
    <p>Category: <a href="#">Spiritual Resource</a></p>
    <ul class="unstyled-list inline-flex tags">
      <li><i class="fas fa-tags icon"></i></li>
      <li><a class="btn btn-light btn-sm tag" href="#">Salvation</a></li>
      <li><a class="btn btn-light btn-sm tag" href="#">God's love</a></li>
    </ul>
    <p>
      <i class="far fa-calendar-alt icon"></i>
      <time datetime="2020-08-20">August 20, 2020</time>
    </p>
    <p>By <a href="#">Author</a></p>
  </div>
  </section>
</article>
