<div class="card">
  <a href="video_detail.html">
    <img class="card-img-top" src="https://img.youtube.com/vi/jxgk7tCgYQ4/mqdefault.jpg" alt="Video">
  </a>

  <div class="card-body">
    <h2 class="card-title">
      <a href="video_detail.html">Video</a>
    </h2>

    <p class="card-text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>

    <p class="card-text">
      By <a href="#">Author</a>
    </p>
  </div>

  <div class="card-footer">
    <small class="text-muted">Last updated 3 mins ago</small>
  </div>
</div>