<main class="container">
  <article class="card mt-5">
    <!-- Youtube iframe -->
    <iframe class="video-player" src="https://www.youtube-nocookie.com/embed/Pog1qa6wGgU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  
    <section class="card-body">
      <h1 class="card-title">Video Title</h1>

      <p class="card-text">
        <span class="block summary-title border-bottom">Video summary</span>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        Aenean pharetra magna ac placerat vestibulum lectus. 
        Scelerisque varius morbi enim nunc faucibus a. 
        Nulla aliquet porttitor lacus luctus accumsan.
      </p>
  
      <p class="card-text">
        Category: <a href="#">Spiritual Resource</a>
      </p>
  
      <p class="card-text">
        <i class="fas fa-tags"></i>
        <a class="btn btn-light btn-sm" href="#">Salvation</a>
        <a class="btn btn-light btn-sm" href="#">God's love</a>
      </p>
  
      <p class="card-text">
        By <a href="#">Author</a>
      </p>
  
      <p class="card-text text-muted">
        Posted on:
        <time datetime="2020-08-20">August 20, 2020</time>
      </p>
    </section>
  </article>
</main>