<main class="container">
  <div class="card mt-5">
    <!-- Youtube iframe -->
    <iframe class="video-player"
      src="https://www.youtube-nocookie.com/embed/rAKLiE658m0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen>
    </iframe>
    <div class="card-body">
      <h1 class="card-title mx-3">Video Title</h1>
      <ul class="container row unstyled-list resource-meta">
        <li class="col-sm">
          Category: <a href="#">Spiritual Resource</a>
        </li>
        <li class="col-sm">
          <ul class="unstyled-list inline-flex tags">
            <li><i class="fas fa-tags icon"></i></li>
            <li><a class="btn btn-light btn-sm tag" href="#">Salvation</a></li>
            <li><a class="btn btn-light btn-sm tag" href="#">God's love</a></li>
          </ul>
        </li>
        <li class="col-sm">
          <i class="far fa-calendar-alt icon"></i>
          <time datetime="2020-08-20">August 20, 2020</time>
        </li>
        <li class="col-sm">
          By <a href="#">Author</a>
        </li>
      </ul>  
      <p class="card-text mx-3">
        <span class="block summary-title border-bottom">Video summary</span>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        Aenean pharetra magna ac placerat vestibulum lectus. 
        Scelerisque varius morbi enim nunc faucibus a. 
        Nulla aliquet porttitor lacus luctus accumsan.
      </p>
    </div>
  </div>
</main>