---
layout: base
---

<main>
  <div class="jumbotron jumbotron-fluid">
    <div class="container text-center">
      <h1 class="display-4">
        Be Empowered <strong class="highlight">Today</strong> For <strong class="highlight">Free</strong>
      </h1>
      <p class="lead">
        Find books, videos and opportunities that will <em>change your life forever</em>
      </p>
      
      <!-- Call to action -->
      <div class="homepage-cta">
        <a class="btn btn-success btn-lg float-left" href="register.html" role="button">Register</a>
        <a class="btn btn-success btn-lg float-right" href="login.html" role="button">Login</a>
      </div>
    </div>
  </div>

  <div class="container text-center my-3 site-stat">
    <div class="row">
      <div class="col-sm">
        <ul class="unstyled-list">
          <li>20</li>
          <li><i class="fas fa-book-open"></i></li>
          <li>Books</li>
        </ul>
      </div>
      <div class="col-sm">
        <ul class="unstyled-list">
          <li>13</li>
          <li><i class="fas fa-video"></i></li>
          <li>Videos</li>
        </ul>
      </div>
      <div class="col-sm">
        <ul class="unstyled-list">
          <li>25</li>
          <li><i class="fas fa-users"></i></li>
          <li>Members</li>
        </ul>
      </div>
    </div>
  </div>

  <div>
    {{ content }}
  </div>
</main>
